<!doctype html>
<html>

<head>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="../stylesheet.css">
	<link rel="stylesheet" type="text/css" href="../admunit_style.css">


	<title>
		Prezydent 2000 - {{unit_type}} {{ unit.name.lower() }}
	</title>
</head>

<body>
	<h1 class="main_title">
			WYBORY PREZYDENTA RZECZYPOSPOLITEJ POLSKIEJ 2000
	</h1>

	<h2 class="sub_title">
			{{unit_type.capitalize()}} {{ unit.name.lower() }}
	</h2>


	<table class="poll_table">
		<tbody>
			<tr>
				<td>Liczba uprawnionych do głosowania</td>
				<td>{{ unit.get_max_voters() }}</td>
			</tr>
			<tr>
				<td>Liczba wydanych kart</td>
				<td>{{ unit.get_given_cards() }}</td>
			</tr>
			<tr>
				<td>Liczba kart wyjętych z urny</td>
				<td>{{ unit.get_total_votes() }}</td>
			</tr>
			<tr>
				<td>Liczba ważnych głosów</td>
				<td>{{ unit.get_valid_votes() }}</td>
			</tr>
			<tr>
				<td>Liczba wydanych kart</td>
				<td>{{ unit.get_invalid_votes() }}</td>
			</tr>
		</tbody>
	</table>

	<aside class="attendance">
		Frekwencja - {{ unit.get_attendance() }}%
	</aside>

	{% if lower_unit is defined %}

	<h2 class="sub_title">
		Wyniki w {{lower_unit_gen}}:
	</h2>
	
	<table class="components_table">
		<tr>
			<td> {{lower_unit}} </td>
			<td> Wyniki </td>
			<td> Frekwencja </td>
		</tr>

		{% for comp in components %}
		<tr>
			<td> <a href="../{{lower_catalog}}/{{ comp[1].get_escaped_name() }}.html"> {{lower_unit.capitalize()}} {{ comp[0] }} </a></td>
			<td style="min-width: 8em">
				{% for candidate in comp[1].get_sorted_results() %}<div style="width: {{ comp[1].get_percentage()[candidate[0]] }}; height: 1em; background-color: {{ color[candidate[0]] }}; display: inline-block;"></div>{% endfor %}
			</td>

			<td>
				{{ comp[1].get_attendance() }}%
			</td>

		</tr>
		{% endfor %}
	</table>
	{% endif %}

	<table class="main_results_table">
		<tr>
			<td>Kandydat</td>
			<td> Głosy ważne </td>
			<td> Legenda </td>
			<td colspan="2"> Proporcja(%) </td>
		</tr>

		{% for candidate in results %}
		<tr>
			<td class="name_in_table"> {{ candidate[0] }} </td>
			<td> {{ candidate[1] }} </td>
			<td> <div style="background-color:{{color[candidate[0]]}}; width: 1em; height: 1em; text-align: center; display: inline-block"> </div> </td>
			<td>
				<div style="height: 1em; min-width: 8em; width: 100%; background-color: #ADBEFF; display: inline-block;">
					<div style="background-color:{{color[candidate[0]]}}; width: {{ perc[candidate[0]] }}; height: 1em;"></div>
				</div>
			</td>
			<td>{{ perc[candidate[0]] }}</td>
		</tr>
		{% endfor %}
	</table>

	<footer>
		Copyright ⓒ 2017 - Arkadiusz Tomczak
	</footer>
</body>

</html>
